<!-- start custom head snippets -->

<!-- favicons from  use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ site.url }}/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" href="{{ site.url }}/assets/css/academicons.css">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- Special fonts  -->

<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo|Major+Mono+Display|Raleway|ZCOOL+KuaiLe" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Cute+Font|Michroma|Monoton|Open+Sans+Condensed:300|Orbitron|Overpass+Mono|Press+Start+2P|Raleway|Share+Tech+Mono&display=swap" rel="stylesheet">


<!-- Font importer per site -->
{% if site.posts.first.googlewebfonts %}
  <link href='http://fonts.googleapis.com/css?family={{ site.posts.first.googlewebfonts }}'>
{% elsif page.googlewebfonts %}
  <link href='http://fonts.googleapis.com/css?family={{ page.googlewebfonts }}'>
{% endif %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118912776-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118912776-1');
</script>

<!-- end custom head snippets -->
