---
layout: default
---

<!-- Based on the layouts in https://github.com/sampsyo/home -->

<h2>{{page.title}}</h2>

{% if page.collection == "drafts" %}
<p>Unpublished Draft</p>
{% else %}
<h6 style="font-weight: normal">{{ page.date | date: '%-d %B %Y' }}</h6>
{% endif %}

<hr/>

<article style="padding-top: 15px; padding-bottom: 45px">
  {{ content }}
</article>

<hr/>

<footer style="padding-bottom: 20px;">
  Questions, comments, or concerns? Feel free to reach out to me
  <a href="mailto:{{site.email}}?subject={{ page.title | prepend: 'Re: ' | url_escape }}">
    via email</a>.

  Also, if you find a typo or mistake, please let me know!
</footer>
